.row {
    color: white;
    margin-left: 20px;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-poster:hover {
    transform: scale(1.08);
}

.row-posterLarge {
    max-height: 250px;
}

.row-posterLarge:hover {
    transform: scale(1.09);
}

.add-movie {
    background-color: #f4511e;
    border: none;
    border-radius: 0.2vw;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.add-movie:hover {opacity: 1}

